[submodule "core14"]
	path = core14
	url = git@github.com:odoo/odoo.git
	branch = 14.0
[submodule "custom/odoo-brasil"]
	path = custom/odoo-brasil
	url = git@github.com:Trust-Code/odoo-brasil.git
	branch = 14.0
